PORT=3001
JWT_SECRET=
MONGODB_URI=
ENCRYPTION_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PLUS_PRICE_ID=
STRIPE_PRO_PRICE_ID=
PLAID_CLIENT_ID=
PLAID_SECRET=
ANTHROPIC_API_KEY=
MAKE_BACKUP_WEBHOOK_URL=
FRONTEND_URL=http://localhost:5173
RESEND_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
NODE_ENV=development
CLOUDINARY_API_SECRET=
CLOUDINARY_API_KEY=
CLOUDINARY_CLOUD_NAME=
REDIS_URL=redis://localhost:6379